*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(0, 0, 0);
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 300px;
    width: 100vh;
    gap: 5px;
}
.side{
    background-color: greenyellow;
    grid-row-start: 1;
    grid-row-end: 4;

    /* grid-row: 1/4; */
    /* easy way to do */
}
.head{
    background-color: greenyellow;
    grid-column-start: 2;
    grid-column-end: 4;
}
.sideup{
    background-color: red;
}
.yellow1{
    background-color: orange;
}
.red1{
    background-color: red;
}
.red2{
    background-color: orange;
}
.yellow2{
    background-color: red;
}
.sidegr{
    background-color: greenyellow;
    grid-column-start: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}