*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: white;
    font-size: 30px;
}
body{
    background-color: black;
}
.container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    /* 1fr means 1 fraction gives to this other 1 fraction to other: .
    means divide equaly */
    gap: 10px;
    padding: 10px;
    height: 400px;
    width: 400px;
    background-color: rgb(148, 143, 135);
}
.first{
    background-color: orange;
}
.sec{
    background-color: red;
}
.thir{
    background-color: blue;
}
.forth{
    background-color: green;
}