*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    padding-top: 20px;

}
.container{
    background-color: rgba(255,255,255,.05);
    border: 1px solid rgba(255,255,255,.129);
    font-size: 40px;
    padding: 10px;
    color: white;
    width: 70%;
    border-radius: 5px;
    /* same line */
    white-space: nowrap;
    /* only inside box not outside */
    overflow: hidden;
}
p{
    animation-name: moving;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes moving {
    from{
        margin-left: 100%;
    }
    to{
        margin-left: -100%;
    }
}