*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: black;
}

.container{
    padding: 20px;
    position: relative;
}
.box{
    height: 80px;
    width: 200px;
    background-color: orange;
    animation-name: moving;
    animation-duration: 2s;
    position: absolute;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-delay: 2s;
    /* animation-fill-mode: forwards; */
}
@keyframes moving {
    /* from{
        background-color: orange;
        top: 10px;
        left: 10px;

    }
    to{
        background-color: blue;
        top: 10px;
        left: 430px;
    } */
    0%{
        background-color: orange;
        top: 10px;
        left: 10px;
    }
    25%{
         background-color: blue;
        top: 10px;
        left: 500px;
    }
    50%{
        background-color: rgb(48, 237, 89);
        top: 500px;
        left: 500px;
    }
    75%{
        background-color: aqua;
        top: 500px;
        left: 10px;
    }
    100%{
        background-color: blueviolet;
        top: 10px;
        left: 10x;
    }
}