*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    height: 150px;
    width: 150px;
    background-color: orange;

    /* transition-property: background-color width height; */
    transition-property: all;
    transition-duration: .5s;
    border-radius: 5%;
    transition-timing-function: ease-out;
    /* transition-delay: 2s; */
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-timing-function: linear;

}
.box:hover{
    background-color: rgb(57, 57, 246);
    cursor: pointer;
    width: 250px;
    height: 250px;
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}