*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    display: grid;
    height: 200px;
    width: 900px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    gap: 5px;
}
.box{
    background-color: yellow;
}
img{
    height: 100%;
    width: 100%;
}
@media screen and (max-width: 900px) {
    .container{
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 1fr;
    }
}
@media screen and (max-width: 850px) {
    .container{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 2fr;
    }
}
@media screen and (max-width: 600px) {
    .container{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 2fr;
    }
}
@media screen and (max-width: 450px) {
    .container{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 4fr;
    }
}