
.container{
    height: 400px;
    width: 400px;
    font-size: 50px;
    background-color: aqua;
}

@media screen and (max-width: 900px){
    .container{
        height: 300px;
        width: 300px;
        font-size: 30px;
        background-color: pink;
    }
}

/* @media screen and (min-width: 800px) {
    .container{
        background-color: bisque;
        font-size: 60px;
    }
} */

@media screen and (max-width: 600px) {
    .container{
        background-color: greenyellow;
    }
}   