#container{
    height: 200px;
    width: 300px;
    background-color: rgb(198, 25, 25);
    position: relative;
}
#blue{
    height: 100px;
    width: 300px;
    background-color: rgb(28, 28, 163);
    position: absolute;
    top: 50px;
}
#circle{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: white;
    top: 61px;
    left: 112px;
    position: absolute;
}