#container{
    height: 200px;
    width: 300px;
    background-color: rgb(247, 216, 14);
    position: relative;
}
#first{
    height: 80px;
    width: 85px;
    position: absolute;
    background-color: blue;
}
#firstDown{
    height: 80px;
    width: 85px;
    position: absolute;
    background-color: blue;
    bottom: 0px;
}
#second{
    height: 80px;
    width: 175px;
    position: absolute;
    background-color: blue;
    left: 125px;
}
#secondDown{
    height: 80px;
    width: 175px;
    position: absolute;
    background-color: blue;
    bottom: 0px;
    left: 125px;
}
