*{
    margin: 0px;
    padding: 0px;   
}
h1{
    background-color: yellow;
}
#First{
    background-color: aliceblue !important;
}
.A{
    background-color: aquamarine;
}
h2{background-color: orange;
    position: relative;
    left: 60px;
    top: 10px;
}
h3{
    background-color: pink;
    position: fixed;
    top: 0px;
    left: 250px;
}
h4{
    background-color: blue;
    position: sticky;
    top: 0px;
}
p{
    background-color: greenyellow;
    position: absolute;
    left: 50px;
    top: 50px;
}