body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(161, 167, 162);
}
.box{
    display: flex;
    justify-content: center;
    background-color: rgb(213, 233, 233);
    height: 400px; 
    width: 400px;
    border-radius: 10px;
    padding-top: 50px;
}
h1{
    text-align: center;
    color: rgb(54, 93, 118);
}
button{
    cursor: pointer;
    background-color: rgb(101, 168, 245);
    color: rgb(51, 56, 61);
    font-size: 20px;
    margin-top: 20px;
    border-radius: 50px;
}
input{
    width: 100%;
    height: 25px;
    margin-bottom: 10px;
    font-size: 15px;
    text-align: center;
    border-radius: 5px;
}